*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Cambay', sans-serif;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield; /* Firefox */
}
.contenedor{
    background-color: #000;
    width: 100%;
    height: 100vh;
}
.conten-formulario{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    color: #fff;
}
h1,.formulario{
    width: 50%;
    display: flex;
    justify-content: center;
}
.formulario img{
    width: 50%;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 5px;
    margin-bottom: 20px;
}
.formulario form{
    border: 1px solid rgba(255, 255, 255, .5);
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.formulario .input-user{
    margin-bottom: 10px;
    position: relative;
    width: 240px;
    padding: 10px;
}
.formulario .fa-solid{
    color: rgba(255, 255, 255, .5);
}
.formulario input{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, .5);
    padding-left: 30px;
    color: #fff;
}
.formulario button{
    background-color: transparent;
    padding: 10px;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, .5);
    margin-top: 20px;
    cursor: pointer;
    width: 220px;
}
.formulario button:hover{
    background-color: rgba(255, 255, 255, .5);
}
/*DASHBOARD*/
.dashboard{
    width: 100%;
    height: 100vh;
    display: flex;
}
.bar-menu-lateral{
    width: 220px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #283642;
    padding: 20px;
}
.bar-menu-lateral img{
    width: 100%;
    height: 100px;
    background-color: rgba(255, 255, 255, .5);
    margin-bottom: 20px;
}
.bar-menu-lateral .menu{
    color: #fff;
    display: flex;
    margin-bottom: 5px;
}
.bar-menu-lateral .menu:hover{
    background-color: rgba(255, 255, 255, .5);
    cursor: pointer;
}
.bar-menu-lateral .menu .fa-solid{
    margin: 0 10px;
}
.menu-despl {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.title-menu{
    display: flex;
    justify-content: space-between;
}
.bar-menu-lateral .menu h5, .bar-menu-lateral .menu ul{
    font-weight: 300;
    font-size: 11px;
    padding: 3px 0;
}
.bar-menu-lateral .menu h5 {
    display: flex;
}
.menu li{
    list-style-type: none;
    padding: 10px;
    position: relative;
    left: 0;
}
.menu .menu-despl:hover ul{
    display: block;
}
.menu ul{
    display: none;
}
.menu li:hover {
    background-color: aqua;
    width: 100%;
    display: flex;
}
.conten-body{
    background: #304150;
    width: calc(100% - 220px);
}
/*CARGOS REGISTRO-USER*/
.conten-register {
    width: 100%;
    height: 100%;
    display: flex;
    background: #304150;
    padding: 20px;
    max-width: 1800px;
}
.formulario-register{
    display: flex;
    flex-direction: column;
}
.inventario{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 70%;
}
.btn-inventario{
    width: 30%!important;
}
.formulario-register, .buttons{
    width: 50%;
}
.caja-text,.caja-select{
    width: 230px;
    position: relative;
    color: #fff;
    display: flex;
    padding: 10px;
    margin-bottom: 8px;
    align-items: center;
}
.caja-text h5{
    position: relative;
    left: 100%;
}
.caja-text input,.caja-select select{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, .5);
    padding-left: 35px;
    color: #fff;
    outline: none;
}
.caja-select select option{
    color: #000;
}
.caja-select{
    padding: 10px;
}
.caja-select select{
    padding-left: 35px;
    height: 100%;
}
.caja-text input:focus {
    outline: 1px solid rgba(255, 255, 255, .7);
}
.buttons button{
    width: 100px;
    padding: 6px;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
}
.buttons button:hover{
    background-color: rgba(255, 255, 255, .5);
}
/*IMPRESION CARGO*/
.busqueda{
    display: flex;
    flex-direction: column;
}
.search{
    display: flex;
    margin-bottom: 50px;
}
.busqueda .caja-text{
    margin: 0;
    margin-right: 10px;
}
.busqueda button{
    padding: 7px;
}
table{
    color: #fff;
    width: 100%;
    border-spacing: 0;
}
tr th{
    text-transform: uppercase;
}
tr th, tr td{
    font-size: 13px;
    text-align: start;
    align-items: start;
    justify-content: start;
    padding: 5px;
    vertical-align: bottom;
    border: 1px solid rgb(255 255 255 / 35%);
}
.entrega,.devolucion{
    display: flex;
    font-size: 12px;
    display: flex;
    font-size: 12px;
    align-items: center;
    cursor: pointer;
}
.entrega .fa-solid, .devolucion .fa-regular{
    margin-right: 10px;
}
.entrega{
    margin-bottom: 10px;
}

/*HOJA CARGO*/
.paperPrint{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
}
.img-title-numCargo-fecha{
    display: flex;
    align-items: center;
    height: 150px;
}
.paperPrint img{
    width: 200px;
}
#numCargoFecha {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 160px;
}
.paperPrint h3{
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 14px;
    width: calc(100% - 360px);
}
.contenedor-papel{
    min-width: 793px;
    width: 793px;
    height: 1123px;
    margin: 0;
    background: #fff;
    padding: 0 40px;
}
.paperPrint p{
    font-size: 14px;
}
.paperPrint h4{
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}
.paperPrint .identificacion{
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: space-between;
}
.paperPrint h2#dni{
    font-size: 12px;
}
.paperPrint h2#direccion{
    font-size: 14px;
}
@media print{
    button{
        display: none;
    }
}